# import libraries

In [3]:
import pandas as pd

# import the global super store sales Dataset

In [4]:
df = pd.read_excel('Global_Superstore_cleaned_file.xlsx')
df

,Row ID,Order_ID,order_date,Ship_date,Ship_ode,Customer_ID,Customer_name,Segment,City,State,...,Region,Product_ID,Category,Sub_Category,Product_name,Sales,Quantity,Discount,Profit,Shipping_cost
0,32298,CA-2012-124891,2012-07-31,2012-07-31,Same Day,RH-19495,Rick Hansen,Consumer,New York City,New York,...,East,TEC-AC-10003033,Technology,Accessories,Plantronics CS510 - Over-the-Head monaural Wir...,2310,7,0.0,762,934
1,25330,IN-2013-71249,2013-10-17,2013-10-18,First Class,CR-12730,Craig Reiter,Consumer,Brisbane,Queensland,...,Oceania,TEC-PH-10004664,Technology,Phones,"Nokia Smart Phone, with Caller ID",5175,9,0.1,920,915
2,47221,SG-2013-4320,2013-05-11,2013-06-11,Same Day,RH-9495,Rick Hansen,Consumer,Dakar,Dakar,...,Africa,TEC-SHA-10000501,Technology,Copiers,"Sharp Wireless Fax, High-Speed",2833,8,0.0,312,903
3,22732,IN-2013-42360,2013-06-28,2013-01-07,Second Class,JM-15655,Jim Mitchum,Corporate,Sydney,New South Wales,...,Oceania,TEC-PH-10000030,Technology,Phones,"Samsung Smart Phone, with Caller ID",2863,5,0.1,763,897
4,30570,IN-2011-81826,2011-07-11,2011-09-11,First Class,TS-21340,Toby Swindell,Consumer,Porirua,Wellington,...,Oceania,FUR-CH-10004050,Furniture,Chairs,"Novimex Executive Leather Armchair, Adjustable",1822,4,0.0,565,895
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38741,24175,IN-2014-57662,2014-05-08,2014-10-08,Standard Class,DB-13270,Deborah Brumfield,Home Office,Townsville,Queensland,...,Oceania,OFF-BI-10002424,Office Supplies,Binders,"Avery Binder, Economy",58,5,0.1,20,0
38742,29002,IN-2014-62366,2014-06-19,2014-06-19,Same Day,KE-16420,Katrina Edelman,Corporate,Kure,Hiroshima,...,North Asia,OFF-FA-10000746,Office Supplies,Fasteners,"Advantus Thumb Tacks, 12 Pack",65,5,0.0,5,0
38743,40470,US-2013-155768,2013-02-12,2013-02-12,Same Day,LB-16795,Laurel Beltran,Home Office,Oxnard,California,...,West,OFF-EN-10001219,Office Supplies,Envelopes,"#10- 4 1/8"" x 9 1/2"" Security-Tint Envelopes",23,3,0.0,11,0
38744,9596,MX-2012-140767,2012-02-18,2012-02-22,Standard Class,RB-19795,Ross Baird,Home Office,Valinhos,SÃ£o Paulo,...,South,OFF-BI-10000806,Office Supplies,Binders,"Acco Index Tab, Economy",13,2,0.0,2,0
38745,6147,MX-2012-134460,2012-05-22,2012-05-26,Second Class,MC-18100,Mick Crebagga,Consumer,Tipitapa,Managua,...,Central,OFF-PA-10004155,Office Supplies,Paper,"Eaton Computer Printout Paper, 8.5 x 11",61,3,0.0,2,0

# display top 5 rows

In [5]:
df.head()

,Row ID,Order_ID,order_date,Ship_date,Ship_ode,Customer_ID,Customer_name,Segment,City,State,...,Region,Product_ID,Category,Sub_Category,Product_name,Sales,Quantity,Discount,Profit,Shipping_cost
0,32298,CA-2012-124891,2012-07-31,2012-07-31,Same Day,RH-19495,Rick Hansen,Consumer,New York City,New York,...,East,TEC-AC-10003033,Technology,Accessories,Plantronics CS510 - Over-the-Head monaural Wir...,2310,7,0.0,762,934
1,25330,IN-2013-71249,2013-10-17,2013-10-18,First Class,CR-12730,Craig Reiter,Consumer,Brisbane,Queensland,...,Oceania,TEC-PH-10004664,Technology,Phones,"Nokia Smart Phone, with Caller ID",5175,9,0.1,920,915
2,47221,SG-2013-4320,2013-05-11,2013-06-11,Same Day,RH-9495,Rick Hansen,Consumer,Dakar,Dakar,...,Africa,TEC-SHA-10000501,Technology,Copiers,"Sharp Wireless Fax, High-Speed",2833,8,0.0,312,903
3,22732,IN-2013-42360,2013-06-28,2013-01-07,Second Class,JM-15655,Jim Mitchum,Corporate,Sydney,New South Wales,...,Oceania,TEC-PH-10000030,Technology,Phones,"Samsung Smart Phone, with Caller ID",2863,5,0.1,763,897
4,30570,IN-2011-81826,2011-07-11,2011-09-11,First Class,TS-21340,Toby Swindell,Consumer,Porirua,Wellington,...,Oceania,FUR-CH-10004050,Furniture,Chairs,"Novimex Executive Leather Armchair, Adjustable",1822,4,0.0,565,895

# display last 5 rows

In [6]:
df.tail()

,Row ID,Order_ID,order_date,Ship_date,Ship_ode,Customer_ID,Customer_name,Segment,City,State,...,Region,Product_ID,Category,Sub_Category,Product_name,Sales,Quantity,Discount,Profit,Shipping_cost
38741,24175,IN-2014-57662,2014-05-08,2014-10-08,Standard Class,DB-13270,Deborah Brumfield,Home Office,Townsville,Queensland,...,Oceania,OFF-BI-10002424,Office Supplies,Binders,"Avery Binder, Economy",58,5,0.1,20,0
38742,29002,IN-2014-62366,2014-06-19,2014-06-19,Same Day,KE-16420,Katrina Edelman,Corporate,Kure,Hiroshima,...,North Asia,OFF-FA-10000746,Office Supplies,Fasteners,"Advantus Thumb Tacks, 12 Pack",65,5,0.0,5,0
38743,40470,US-2013-155768,2013-02-12,2013-02-12,Same Day,LB-16795,Laurel Beltran,Home Office,Oxnard,California,...,West,OFF-EN-10001219,Office Supplies,Envelopes,"#10- 4 1/8"" x 9 1/2"" Security-Tint Envelopes",23,3,0.0,11,0
38744,9596,MX-2012-140767,2012-02-18,2012-02-22,Standard Class,RB-19795,Ross Baird,Home Office,Valinhos,SÃ£o Paulo,...,South,OFF-BI-10000806,Office Supplies,Binders,"Acco Index Tab, Economy",13,2,0.0,2,0
38745,6147,MX-2012-134460,2012-05-22,2012-05-26,Second Class,MC-18100,Mick Crebagga,Consumer,Tipitapa,Managua,...,Central,OFF-PA-10004155,Office Supplies,Paper,"Eaton Computer Printout Paper, 8.5 x 11",61,3,0.0,2,0

# find how many rows and columns are there

In [7]:
df.shape

(38746, 22)

# check the data info

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38746 entries, 0 to 38745
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         38746 non-null  int64
 1   Order_ID       38746 non-null  object
 2   order_date     38746 non-null  datetime64[ns]
 3   Ship_date      38746 non-null  datetime64[ns]
 4   Ship_ode       38746 non-null  object
 5   Customer_ID    38746 non-null  object
 6   Customer_name  38746 non-null  object
 7   Segment        38746 non-null  object
 8   City           38746 non-null  object
 9   State          38746 non-null  object
 10  Country        38746 non-null  object
 11  Market         38746 non-null  object
 12  Region         38746 non-null  object
 13  Product_ID     38746 non-null  object
 14  Category       38746 non-null  object
 15  Sub_Category   38746 non-null  object
 16  Product_name   38746 non-null  object
 17  Sales          38746 non-null  int64
 18  Quantity       38746 non-null  int64
 19  Discount       38746 non-null  float64
 20  Profit         38746 non-null  int64
 21  Shipping_cost  38746 non-null  int64
dtypes: datetime64[ns](2), float64(1), int64(5), object(14)
memory usage: 6.5+ MB

# we covert the order date , ship date in to date format

In [10]:
df['order_date'] = pd.to_datetime(df['order_date'])
df['Ship_date'] = pd.to_datetime(df['Ship_date'])

#  I found in this dataset one oulier which is present  in profit column because it have contain negative values  so i removed it

In [11]:
df = df[df['Profit'] >= 0]
df.reset_index(drop=True, inplace=True)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38746 entries, 0 to 38745
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         38746 non-null  int64
 1   Order_ID       38746 non-null  object
 2   order_date     38746 non-null  datetime64[ns]
 3   Ship_date      38746 non-null  datetime64[ns]
 4   Ship_ode       38746 non-null  object
 5   Customer_ID    38746 non-null  object
 6   Customer_name  38746 non-null  object
 7   Segment        38746 non-null  object
 8   City           38746 non-null  object
 9   State          38746 non-null  object
 10  Country        38746 non-null  object
 11  Market         38746 non-null  object
 12  Region         38746 non-null  object
 13  Product_ID     38746 non-null  object
 14  Category       38746 non-null  object
 15  Sub_Category   38746 non-null  object
 16  Product_name   38746 non-null  object
 17  Sales          38746 non-null  int64
 18  Quantity       38746 non-null  int64
 19  Discount       38746 non-null  float64
 20  Profit         38746 non-null  int64
 21  Shipping_cost  38746 non-null  int64
dtypes: datetime64[ns](2), float64(1), int64(5), object(14)
memory usage: 6.5+ MB

# find how many unique,count,top values in each column

In [13]:
df.describe(include = 'object').T

               count unique              top   freq
Order_ID       38746  20319   CA-2014-100111     14
Ship_ode       38746      4   Standard Class  23241
Customer_ID    38746   1581         BE-11335     84
Customer_name  38746    795      Bill Eplett     88
Segment        38746      3         Consumer  19997
City           38746   3258    New York City    875
State          38746    926       California   1896
Country        38746    136    United States   8123
Market         38746      7               US   8123
Region         38746     13          Central   8335
Product_ID     38746   9386  OFF-AR-10003651     31
Category       38746      3  Office Supplies  24270
Sub_Category   38746     17          Binders   4624
Product_name   38746   3729          Staples    213

# checking for null values

In [14]:
df.isna().sum()

Row ID           0
Order_ID         0
order_date       0
Ship_date        0
Ship_ode         0
Customer_ID      0
Customer_name    0
Segment          0
City             0
State            0
Country          0
Market           0
Region           0
Product_ID       0
Category         0
Sub_Category     0
Product_name     0
Sales            0
Quantity         0
Discount         0
Profit           0
Shipping_cost    0
dtype: int64

# remove the null and missing values

In [15]:
df.dropna(inplace = True)

# check for any  duplicate values are present or not

In [16]:
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
38741    False
38742    False
38743    False
38744    False
38745    False
Length: 38746, dtype: bool

# in this dataset now no null values,missing values,no duplicated values and no outlier

# now we download this cleaned dataset for visualisations

In [17]:
df.to_csv('global_superstore_cleaned_file2.csv', index=False)